body {
  background-color: rgb(129, 108, 91);
}

button {
  padding: 10px;
  margin: 15px;
  background-color: #897853;
}
.gameName {
  font-size: 60px;
  text-align: center;
  font-family: cursive;

}
.tableGame {
  padding-right: 50px;
  user-select: none;
  display: inline-block;
  float: left;
}
.main {
  text-align: center;
}
.tableRow {
  display: table-row;
  width: 385px;
}
strong {
  font-size: 40px;
}
p {
  font-size: 20px;
  word-wrap: break-word;
}
.tableCell {
  width: 35px;
  height: 35px;
  display: table-cell;
  border: 1px solid white;
  overflow: hidden;
  background-color: rgb(128, 128, 128);
  color: rgb(128, 128, 128);
  text-align: center;
}
.second {
  display: inline;
}
.auxClass {
  width: 35px;
  height: 35px;
  display: table-cell;
  border: 1px solid white;
  overflow: hidden;
  background-color: red;
  color: red;
  text-align: center;
}

#numberMines {
  user-select: none;
  text-align: center;
  display: none;
  background-color: #346751;
  color: yellow;
  font-size: 30px;
  height: 50px;
  border: 1px solid black;
}
